// Responsive
$r-bigDesktop: 1920;
$r-desktop: 1440;
$r-tablet: 980;
$r-phone: 480;

$f-cormorant: "Cormorant", serif;
$f-mulish: "Mulish", sans-serif;

// Z-Indexes
$z-indexes: ("preloader", "navigation", "header", "footer", "content", "canvas");
